#pagesWrap {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns:  minmax(230px, 12vw) 1fr;
  grid-template-rows: minmax(45px, 5vh) 1fr minmax(40px, 4vh);

  .menuWrap {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .mainWrap {
    padding: 1rem;
  }

  .footerWrap{
    grid-column-start: -3;
    grid-column-end: 3;
  }

}
