@use 'src/styles' as style;

%positionSticky {
  position: sticky;
  z-index: 1;
}

#pagesWrap {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns:  minmax(230px, 12vw) 1fr;
  grid-template-rows: minmax(45px, 5vh) 1fr minmax(40px, 4vh);

  .menuWrap {
    grid-column-start: 1;
    grid-column-end: 3;
    width: 100%;
    height: 100%;
  }

  .navWrap{
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
    overflow: auto;
  }

  @media screen and (max-width: 541px) {
    .navWrap {
      display: none;
    }
  }

  .mainWrap {
    background-color: style.$mainBackgroundColor;
    padding: 1rem;
    overflow: auto;
    .mainContainer{
      width: 100%;
      min-height: fit-content;
      padding: 1rem;
      background-color: style.$whiteColor;
      border-radius: 3px;
      box-shadow: 0 0 10px 0px rgba($color: #000000, $alpha: .2);
    }
  }

  @media screen and (max-width: 541px) {
    .mainWrap {
      grid-column-start: 1;
      grid-column-end: 3;
    }
  }

  .footerWrap{
    grid-column-start: -3;
    grid-column-end: 3;
    position: sticky;
    bottom: 0;
    left: 0;
  }

}
