@use 'src/styles' as style;

#menuContainer {
  width: 100%;
  height: 5vh;
  min-height: 45px;
  color: style.$whiteColor;
  background-color: style.$mainColor;

  mat-sidenav-content {
    @extend %flexBetween;
    width: 90%;
    font-size: style.$fsLg;
    font-weight: bold;
    margin: 0 auto;
  }

  .logoWrap{
    height: 80%;
    margin: 0;
    overflow: hidden;
    img {
      height: 100%;
      object-fit: contain;
    }
  }

  .userInfoWrap{
    span {
      margin: 0 1rem;
    }
  }

}
