@use 'src/styles' as style;

section{
  margin-bottom: 1.25rem;
}

p {
  margin: 0 .5rem 1rem 0;
}

.text {
  color: style.$warnColor;
}

@media screen and (max-width: 540px) {
  .periodTxt {
   span {
    margin-top: .5rem;
    display: block;
   }
  }
}


.progressWrap {
  p > button {
    margin-right: .5rem;
  }

  .progressContainer {
    height: 3vh;
    min-height: 22px;
    position: relative;

    mat-progress-bar {
      height: 100%;
    }

    .progressTxt {
      font-size: style.$fsLg;
      color: style.$whiteColor;
      height: 100%;
      line-height: 3vh;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }

    .warnColor {
      color: style.$warnColor;
    }

  }
}
