<div>

  <section>
    <h3>一、自訂義日曆元件，將 mat-select 與 mat-date-range-input 組合在一起使用，並可根據所選項目計算日期。</h3>
    <p class="periodTxt">Custom Period Demo：
      <span
        *ngIf="date"
        class="text">{{ date | json }}
      </span>
    </p>
    <app-period (dateChange)="onDateChange($event)">
    </app-period>
  </section>

  <section class="progressWrap">
    <h3>二、基本 Progress Bar 倒數計時器，將從 10 分 00 秒開始倒數。</h3>
    <p>Progress Bar Demo：
      <button
        type="button"
        (click)="startCountdownTime()"
        >
        Start
      </button>
      <button
        type="button"
        (click)="stopCountdownTime()"
        >
        Stop
      </button>
    </p>
    <div class="progressContainer">
      <mat-progress-bar
        [mode]="progressMode"
        [value]="progressValue"
        >
      </mat-progress-bar>
      <span
        class="progressTxt"
        >
        剩餘 {{ minutes }} 分 {{ seconds | number: '2.0-0' }} 秒
      </span>
      <!-- <p class="progressTxt"
        [class]="progressValue >= 5 ? '' : 'warnColor'">
        {{ progressValue + '%' }}
      </p> -->
    </div>
  </section>

</div>
