@use 'src/styles' as style;

section{
  @extend %flexCenter;
  @extend %fullContainer;
  width: 100%;
  height: 100%;
  background-image: url('../../../assets/img/login.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  form {
    width: 20vw;
    min-width: max-content;
    text-align: center;
    background-color: style.$whiteColor;
    box-shadow: 0 0px 10px 2px rgba($color: #000000, $alpha: .5);
    padding: 2rem 1rem;
    border-radius: 20px;
    font-size: style.$fsLg;

    > div {
      width: 80%;
      min-width: fit-content;
      margin: 0 auto;
      margin-bottom: 1.5rem;
    }

    .idWrap, .pwdWrap{
      height: 8vh;
      min-height: 75px;
    }

    .inputWrap{
      border: 1px solid  rgba($color: #000000, $alpha: .3);
      padding: 1rem 0;
    }

    .error {
      font-size: style.$fsMd;
      text-align: end;
    }

    mat-error {
      margin-right: .25rem;
    }

    mat-icon{
      margin: 0 .2rem;
      color: style.$mainColor;
    }

    label{
      min-width: fit-content;
      display: inline-block;
    }
    input{
      min-width: fit-content;
      outline: none;
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom:  none;
    }

    .captchaWrap{
      input{
        width: 45%;
        min-width: 45%;
      }
    }

    #captcha{
      border-bottom: 1px solid rgba($color: #000000, $alpha: .3);;
    }

    .captchaNum{
      margin-left: 1rem;
    }

    .btnWrap{
      @extend %flexEvenly;
    }

    .forgotPwd{
      font-size: style.$fsMin;
      text-decoration: underline;
    }
  }


}
