@use 'src/styles' as style;

$pieChartHeight: 400px;
$pieChartMinHeight: 350px;
$dashBoardMainColor: #748194;

section{
  margin-bottom: 1.5rem;
}

// costWrap start
.costWrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border-radius: 5px;

  & > div {
    @extend %flexColumnCenter;
    height: max-content;
    min-height: max-content;

    &:not(:last-child){
      border-right: 1px solid #c2c2c2;
      // border-image: linear-gradient(to bottom, transparent 10%, #c2c2c2 20%, #c2c2c2 80%, transparent 100%) 1;
    }

    p {
      color: $dashBoardMainColor;
      padding-bottom: .5rem;
      span {
        padding-right: .5rem;
      }
    }

    .mainText{
      font-size: 1.5rem;
    }

    mat-icon{
      font-size: 3.5rem;
      width: fit-content;
      height:  fit-content;
      text-align: center;
    }

    .month{
      color: #2c7be5;
    }

    .season{
      color: #27bcfd;
    }

    .half{
      color: #00d27a;
    }

    .year{
      color: #f5803e;
    }
  }
}

@media screen and (max-width: 1025px) and (min-width: 541px) {
  .costWrap{
    & > div p:not(:first-child){
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .mainText{
        font-size: 1.25rem;
      }

      span {
        padding-bottom: .25rem;
      }
    }
  }
}

@media screen and (max-width: 667px) {
  .costWrap {
    grid-template-columns: 1fr 1fr;
    & > div {
      padding: .5rem;
      &:nth-child(2){
        border-right: none;
        border-bottom: 1px solid #c2c2c2;
        // border-image: linear-gradient(to right, transparent 5%, #c2c2c2 10%, #c2c2c2 85%, transparent 100%) 1;
      }
      &:nth-child(1){
        border-bottom: 1px solid #c2c2c2;
      }
    }
  }
}

@media screen and (max-width: 540px) {
  .costWrap {
    grid-template-columns: 1fr;

    & > div {
      padding: .5rem;
      &:not(:last-child){
        border-right: none;
        border-bottom: 1px solid #c2c2c2;
        // border-image: linear-gradient(to right, transparent 5%, #c2c2c2 10%, #c2c2c2 85%, transparent 100%) 1;
      }
    }
  }
}
// costWrap end

// chartWrap start
.chartWrap {
  display: grid;
  grid-template-columns: minmax(30vw, 400px) 1fr;
  height: fit-content;
  border-top: 1px dotted $dashBoardMainColor;
  border-bottom: 1px dotted $dashBoardMainColor;

  .serviceWrap {
    padding: 1rem 0;
    border-right: 1px dotted $dashBoardMainColor;

    .doughnutCharWrap{
      height: 250px;
      position: relative;

      .doughnutTotal{
        font-size: 1.5rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 25%);
      }
    }

    .serviceItemWrap {
      display: grid;
      grid-template-columns: 1fr 1fr;
      ul{
        color: $dashBoardMainColor;
        margin-top: 1rem;
        li {
          padding: .25rem 0;
          &:first-child {
            color: black;
          }
        }
      }
    }
  }

  .targetRateWrap {
    width: 100%;
    height: 430px;
    padding: 1rem 1.25rem;
  }
}

@media screen and (max-width: 1025px) {
  .chartWrap{
    grid-template-columns: 1fr;

    .serviceWrap {
      border-right: none;
    }

    .doughnutCharWrap{
      width: 100%;
      height: 200px;
    }

    .targetRateWrap{
      width: 100%;
      height: 300px;
      padding: 1rem 1.25rem;
    }
  }
}
// chartWrap end

// tableWrap start
.tableWrap {
  width: 100%;
  height: 300px;

  .tableTitle{
    color: #666666;
    font-size: 18px;
    text-align: center;
  }

  .tableContainer{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: auto;

    table {
      width: 100%;
      height: 100%;

      th[mat-header-cell]{
        background-color: style.$whiteColor;
        position: sticky;
        top: 0;
        left: 0;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  table {
    td{
      min-width: max-content;
      padding: 0 .25rem;
    }
  }
}
// tableWrap end
