<div>

  <!-- costWrap -->
  <section
    *ngIf="costData"
    class="costWrap">
    <div *ngFor="let item of costData">
      <p>
        <mat-icon
          [ngClass]="item.type"
          [fontIcon]="item.icon"></mat-icon>
      </p>
      <p>
        <span
          class="mainText"
          [ngClass]="item.type">
          ${{ item.current | number }}
        </span>
        <ng-container [ngSwitch]="item.type">
          <span *ngSwitchCase="'half'">{{ 'half of year' }}</span>
          <span *ngSwitchDefault>{{ 'current ' + item.type }}</span>
        </ng-container>
      </p>
      <p>
        <span>${{ item.last | number }}</span>
        <ng-container [ngSwitch]="item.type">
          <span *ngSwitchCase="'half'">{{ 'last half of year' }}</span>
          <span *ngSwitchDefault>{{ 'last ' + item.type }}</span>
        </ng-container>
      </p>
    </div>
  </section>

  <!--  -->
  <section class="chartWrap">
    <div class="serviceWrap">
      <div class="doughnutCharWrap">
        <app-chart-js
          *ngIf="doughnutChartData"
          [type]="doughnutChartType"
          [data]="doughnutChartData"
          [options]="doughnutChartOptions"
          (chartHover)="chartHovered($event, 'pie')"
          (chartClick)="chartClicked($event, 'pie')"
          >
        </app-chart-js>
        <p class="doughnutTotal">$1.22M</p>
      </div>
      <div class="serviceItemWrap">
        <ul *ngIf="marketingData?.service">
          <li *ngFor="let data of marketingData?.service">
            {{ data }}
          </li>
        </ul>
        <ul *ngIf="marketingData?.network">
          <li *ngFor="let data of marketingData?.network">
            {{ data }}
          </li>
        </ul>
      </div>
    </div>

    <div class="targetRateWrap">
      <app-chart-js
        [type]="lineChartType"
        [data]="lineChartData"
        [options]="lineChartOptions"
        (chartHover)="chartHovered($event, 'mixed')"
        (chartClick)="chartClicked($event, 'mixed')"
        >
    </app-chart-js>
    </div>
  </section>

  <section
    *ngIf="tableData"
    class="tableWrap">
    <p class="tableTitle">Product Ranking</p>
    <div class="tableContainer">
      <table
        mat-table
        [dataSource]="tableData"
        matSort>
        <ng-container matColumnDef="index">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            >
            #
          </th>
          <td
            mat-cell
            *matCellDef="let row"
            >
            {{ row.index }}
          </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            >
            Name
          </th>
          <td
            mat-cell
            *matCellDef="let row"
            >
            {{ row.name }}
          </td>
        </ng-container>

        <ng-container matColumnDef="price">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            >
            Price
          </th>
          <td
            mat-cell
            *matCellDef="let row"
            >
            {{ row.price | number }}
          </td>
        </ng-container>

        <ng-container matColumnDef="qty">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            >
            Qty
          </th>
          <td
            mat-cell
            *matCellDef="let row"
            >
            {{ row.qty | number }}
          </td>
        </ng-container>

        <ng-container matColumnDef="total">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            >
            Total
          </th>
          <td
            mat-cell
            *matCellDef="let row"
            >
            ${{ row.total | number }}
          </td>
        </ng-container>

        <tr
          mat-header-row
          *matHeaderRowDef="displayedTableColumns"
          >
        </tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedTableColumns;"
          >
        </tr>

      </table>
    </div>
  </section>

</div>
